---
---


/**
  * Body
  *
  ++ background by http://subtlepatterns.com/
body
  background-color: #ccc
  background-image: url('/images/background/exclusive_paper.gif')
  font: normal 13px Helmet, Freesans, sans-serif
  margin: 78px




/**
  * Main
  *
section#main
  padding-bottom: 34px
  padding-top: 51px
  background-color: #fff
  
  // reset
  h1, h2, h3, h4, hr, p, ul, ol
    margin: 0
    padding: 0

  // headers
  h1
    font-size: 32px
    font-weight: bold
    letter-spacing: -1px
    line-height: 35px
    margin-bottom: 27px
  
  h2
    border-left: 5px solid #ececec
    font-size: 22px
    line-height: 24px
    margin: 13px 0 14px
    padding-left: 14px
    
  h2 + h3
    margin-top: -7px
  
  h3
    font-size: 20px
    padding: 14px 0 12px
  
  h4
    font-size: 15px
    padding: 2px 0 12px
  
  // horizontal rule
  hr
    background: #ececec
    margin-bottom: 29px
  
  p + hr, ul + hr, ol + hr
    margin-top: 12px
  
  // paragraphs and lists
  p, ul, ol
    line-height: 21px
    overflow: hidden
    padding-bottom: 15px
  
  // paragraph after an iframe (video)
  iframe + p
    font-size: 11px
  
  // code
  pre
    background-image: url('/images/background/gray_sand.gif')
    color: #f3f3f3
    margin: 18px 0 34px // (34 == 18 + 16) && (16 == p.padding-bottom)
    overflow-x: hidden
    padding: 10px 14px
  
  // images
  img
    display: inline-block
    margin: 0 auto
  
  // post list (index)
  .posts
    color: #7c7c7c
    list-style: none
    
    li
      padding-bottom: 3px
    .date, a
      display: inline-block
    .date
      width: 19%
    a
      width: 81%




/**
  * Sidebar
  *
section#right
  line-height: 17px
  
  // headers
  h4
    font-size: 15px
    margin: 0 0 15px
  
  // paragraphs and lists
  p, ul, ol
    font-size: 11px
    margin: 0
    padding: 0 0 15px
  
  // header after a paragraph
  p + h4
    padding-top: 8px
  
  // list after a paragraph
  p + ul, p + ol
    list-style: inside square
    margin-top: -8px
  
  // images
  img
    display: block
  
  // links
  a
    color: #222
  a:hover
    color: #09f
  
  // aside and nav
  aside, nav
    padding: 23px 24px 9px
    background: #fff
  
  aside
    margin-bottom: 40px
