---
---

body
  background-color: #CCC
  background-image: url('/images/stripe.png')

section#main
  padding-top: 25px
  background-color: white

@mixin right-box
  padding-right: 20px
  padding-left: 20px
  padding-top: 25px
  padding-bottom: 5px
  background-color: white

nav
  @include right-box

aside
  margin-bottom: 20px
  @include right-box
  img
    margin-left: 15px
