!!! 5
/[if lt IE 7 ] <html class="ie ie6" lang="en">
/[if IE 7 ] <html class="ie ie7" lang="en">
/[if IE 8 ] <html class="ie ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    /
      Basic Page Needs
      \==================================================
    %meta{:charset => "utf-8"}/
    %title Designing Hypermedia APIs
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    /
      Mobile Specific Metas
      \==================================================
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    /
      CSS
      \==================================================
    %link{:href => "/stylesheets/base.css", :rel => "stylesheet"}/
    %link{:href => "/stylesheets/skeleton.css", :rel => "stylesheet"}/
    %link{:href => "/stylesheets/layout.css", :rel => "stylesheet"}/
    %link{:href => "/stylesheets/prettyify.css", :rel => "stylesheet"}/
    
    /
      Favicons
      \==================================================
    %link{:href => "/images/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "/images/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "/images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "/images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
  %body
    /
      Primary Page Layout
      \==================================================
    .container
      .sixteen.columns
        %h1.remove-bottom{:style => "margin-top: 40px"} Designing Hypermedia APIs
        %h5 Learn to build <em>better</em> web applications. Updated at least weekly.
        %hr/
      = yield
