%h1 Welcome

%p
  This is my blog, where I talk about software, literature, philosophy,
  politics, and whatever else I feel like. Most of it is software.

%p Check out the links on the left for more.
