.sixteen.columns
  %h2 Sign up

  %form{:method => "POST", :action => "/signup"}
    %label{:for => "user_email"} Email
    %input{:type => "text", :id => "user_email", :name => "user[email]"}
    %label{:for => "user_password"} Password
    %input{:type => "text", :id => "user_password", :name => "user[password]"}
    %input{:type => "submit"}
    or
    %a{:href => "/login"} log in
