!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf8"}
    %title Literate Programming
    %link{:rel => "alternate", :type => "application/rss+xml", :href => "http://feeds.feedburner.com/steveklabnik"}/
    %link{:rel => "stylesheet", :href => "/css/blueprint/screen.css", :media => "screen, projection"}/
    %link{:rel => "stylesheet", :href => "/css/blueprint/print.css", :media => "print"}/
    /[if lt IE 8]
      %link{:rel => "stylesheet", :href => "/css/blueprint/ie.css", :media => "screen, projection"}/
    %link{:rel => "stylesheet", :href => "/css/site.css"}/
    %script{:src => "/js/jquery-1.6.min.js"}
    %script{:src => "/js/app.js"}
  - if ENV['JEKYLL_ENV'] == "production"
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-4054156-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
      })();
  %body
    .container
      .span-24
        %br/
      %section#main.span-14.prepend-1.append-1
        %h1 Literate Programming
        %hr/
        {{ content }}
      %section#right.span-7.prepend-1.last
        %aside
          %h2 Hi there, I'm Steve.
          %img{:src => "http://en.gravatar.com/userimage/5335489/ee56a7574df33ed8748160494c930b98.jpg?size=200"}
          %p I write both code and prose. Here's some of my thoughts about software, literature, art and code, with some politics thrown in on occasion. You might also enjoy <a href="http://steveklabnik.com/">my website</a>.
        %nav
          %h2 Popular Posts
          %p Here are some of my most-viewed articles.
          %ul
            %li
              %a{:href => "/2010/03/03/why-bother-creating.html"} Why bother creating?
            %li
              %a{:href => "/2010/08/19/a-word-about-why-whyday-and-hackety-hack.html"} A word about _why, #whyday, and Hackety Hack
            %li
              %a{:href => "/2010/11/17/the-hardest-decision-i-ve-ever-made.html"} The hardest decision I've ever made
            %li
              %a{:href => "/2010/03/08/create-a-more-compelling-experience-for-your-users-through-game-mechanics.html"} Create a more compelling experience for your users through game mechanics
            %li
              %a{:href => "/2010/07/17/what-to-know-before-debating-type-systems.html"} What to know before debating type systems
