<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf8' />
    <title>Steve's Blo</title>
    {% include_css site %}
    {% include_js jquery-1.6.min %}
    {% include_js app %}
  </head>
  <body>
    <section id='right'>
      <aside>
        <h1>Hi there, I'm Steve.</h1>
        <img src='http://en.gravatar.com/userimage/5335489/ee56a7574df33ed8748160494c930b98.jpg?size=200' />
        <p>I write both code and prose. Here's some of my thoughts about software, literature, art and code, with some politics thrown in on occasion. You might also enjoy <a href="http://steveklabnik.com/">my website</a>.</p>
      </aside>
      <nav>
        <h1>Popular Posts</h1>
        <p>Here are some of my most-viewed articles.</p>
        <ul>
          <li>
            <a href='http://localhost:4000/2010/03/03/why-bother-creating-.html'>Why bother creating?</a>
          </li>
          <li>
            <a href='http://localhost:4000/2010/08/19/a-word-about-why-whyday-and-hackety-hack.html'>A word about _why, #whyday, and Hackety Hack</a>
          </li>
          <li>
            <a href='http://localhost:4000/2010/11/17/the-hardest-decision-i-ve-ever-made-.html'>The hardest decision I've ever made</a>
          </li>
          <li>
            <a href='http://localhost:4000/2010/03/08/create-a-more-compelling-experience-for-your-users-through-game-mechanics.html'>Create a more compelling experience for your users through game mechanics</a>
          </li>
          <li>
            <a href='http://localhost:4000/2010/07/17/what-to-know-before-debating-type-systems.html'>What to know before debating type systems</a>
          </li>
        </ul>
      </nav>
    </section>
    <section id='main'>
      {{ content }}
    </section>
  </body>
</html>
