<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf8' />
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible' />
    <title>Literate Programming - {{ page.title }}</title>
    <link href='http://feeds.feedburner.com/steveklabnik' rel='alternate' type='application/rss+xml' />
    <link href='/css/blueprint/screen.css' media='screen, projection' rel='stylesheet' />
    <link href='/css/blueprint/print.css' media='print' rel='stylesheet' />
    <!--[if lt IE 8]>
      <link href='/css/blueprint/ie.css' media='screen, projection' rel='stylesheet' />
    <![endif]-->
    <link href='/css/site.css' rel='stylesheet' />
    <script src='/js/modernizr-1.7.min.js'></script>
    <script src='/js/jquery-1.6.min.js'></script>
    <script src='/js/app.js'></script>
  </head>
  <body>
    <div class='container'>
      <section class='span-14 prepend-2 append-2 clear' id='main'>
        <h1>{{ page.title }}</h1>
        <hr />
        {{ content }}
        <h3>Have Something to say?</h3>
        <hr />
        <p>
          <p>I'd love to hear from you. I don't accept comments here, as these pages are static, but please
          <a href="mailto:steve@steveklabnik.com">email me</a> with any feedback,
          positive or negative. I always revise posts with the interesting parts
          of these discussions. Thanks!</p>
        </p>
      </section>
      <section class='span-5 prepend-1 last' id='right'>
        <img src='http://en.gravatar.com/userimage/5335489/ee56a7574df33ed8748160494c930b98.jpg?size=190' />
        <aside>
          <h4>Hi there, I'm Steve.</h4>
          <p>
            I write both code and prose. Here's some of my thoughts about software,
            literature, art and code, with some politics thrown in on occasion.
            You might also enjoy <a href="http://steveklabnik.com/">my website</a>.
          </p>
        </aside>
        <nav>
          <h4>See them all</h4>
          <p>
            You're viewing a single post, but if you'd like to see
            the list of everything I've written, just <a href="/">go here</a>.
          </p>
          <h4>Popular Posts</h4>
          <p>Here are some of my most-viewed articles.</p>
          <ul>
            <li>
              <a href='/2010/03/03/why-bother-creating.html'>Why bother creating?</a>
            </li>
            <li>
              <a href='/2010/08/19/a-word-about-why-whyday-and-hackety-hack.html'>A word about _why, #whyday, and Hackety Hack</a>
            </li>
            <li>
              <a href='/2010/11/17/the-hardest-decision-i-ve-ever-made.html'>The hardest decision I've ever made</a>
            </li>
            <li>
              <a href='/2010/03/08/create-a-more-compelling-experience-for-your-users-through-game-mechanics.html'>Create a more compelling experience for your users through game mechanics</a>
            </li>
            <li>
              <a href='/2010/07/17/what-to-know-before-debating-type-systems.html'>What to know before debating type systems</a>
            </li>
          </ul>
        </nav>
      </section>
    </div>
  </body>
</html>
